# python related
__pycache__/
*.py[cod]
*$py.class

# idea related
.idea/
*.iml
.DS_Store
.swp
.workflow

# pysys related
**/Output/*
reports
.runner
.db
.test-results


# property files we dont want commited to SCCS
*.properties
!.default.properties

# ignore any artifacts used
artifacts/wallet_extension
artifacts/contracts
artifacts/build.info
artifacts/*.log

# ignore any hardhat files
**/node_modules
**/cache
**/artifacts
**/.env

