# python related
__pycache__/
*.py[cod]
*$py.class

# idea related
.idea/
*.iml
.DS_Store

# pysys related
**/Output/*
.runner
.db

# property files we dont want commited to SCCS
*.properties
!.default.properties

# ignore any artifacts used
artifacts/wallet_extension*
artifacts/*.log

