# Run a set of sanity tests on sepolia-testnet to ensure it is up and running. The workflow is run either manually from
# a workflow dispatch, or every 30 mins.
#
name: '[Monitor] Check sepolia-testnet health'
run-name: Check sepolia-testnet health
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  run-check:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-02]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten
          ref: 'releases/v0.24'

      - name: 'Build required artifacts for running tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          ./get_artifacts.sh
          ls -l ${{ github.workspace }}/ten-test/artifacts   

      - name: 'Run health check tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          /usr/local/bin/pysys.py run -m ten.sepolia -i health -XITERATIONS_FULL=0 


      - name: 'Upload testcase output'
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/ten-test/**/Output
            !${{ github.workspace }}/ten-test/**/node_modules
          retention-days: 1

      - name: 'Discord notification on failure'
        if: failure()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.TESTNET_HEALTH_WEBHOOK }}
          title: "Sepolia-testnet health check tests failed"
          description: "Sepolia-testnet health check"
          content: "Please investigate <@643461415532756992> <@814873419207409685> <@92361563276591104> <@920586981581393983> <@921049923414261821> <@1034771491436363797> <@639076633994592256> <@398020680966471680> <@216439743947341824>"
          avatar_url: ${{ secrets.AVATAR_URL }}