# Build a docker image of the e2e tests and push it to the azure docker registry. Runs either from a workflow dispatch,
# or when a PR is merged to main. You can specify the tag for the version required (e.g. 0.19 for the releases/v0.19
# branch) or latest for main. When run on a merge to main latest is always used.  
#
name: '[System] Create docker image'
run-name: Create docker image (${{ github.event_name }})
on:
  pull_request:
    types: [ closed ]
  workflow_dispatch:
    inputs:
      release:
        type: choice
        description: 'The release version of testnet'
        required: true
        default: latest
        options:
          - latest
          - 0.19
          - 0.18
          - 0.17

jobs:
  test-run:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-01]
    steps:
      - name: Sets env vars for latest
        run: |
          echo "VERSION=latest" >> $GITHUB_ENV
          echo "BRANCH=main" >> $GITHUB_ENV
        if: ${{ github.event_name == 'pull_request' }}

      - name: Sets env vars for latest
        run: |
          echo "VERSION=latest" >> $GITHUB_ENV
          echo "BRANCH=main" >> $GITHUB_ENV
        if: ${{ (github.event_name == 'workflow_dispatch') && (github.event.inputs.release == 'latest') }}

      - name: Sets env vars for releases
        run: |
          echo "VERSION=${{ github.event.inputs.release }}" >> $GITHUB_ENV
          echo "BRANCH=releases/v${{ github.event.inputs.release }}" >> $GITHUB_ENV
        if: ${{ (github.event_name == 'workflow_dispatch') && (github.event.inputs.release != 'latest') }}

      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test
          ref: ${{env.BRANCH}}

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten
          ref: ${{env.BRANCH}}

      - name: 'Login to Azure docker registry'
        uses: azure/docker-login@v1
        with:
          login-server: testnetobscuronet.azurecr.io
          username: testnetobscuronet
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: 'Build the docker container'
        run: |
          cd ${{ github.workspace }}/ten-test
          ./get_artifacts.sh
          docker build -t testnetobscuronet.azurecr.io/obscuronet/obscuro_test:${{ env.VERSION }} -f ./utils/docker/image.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/obscuro_test:${{ env.VERSION }}
