# Run a set of sanity tests on uat-testnet to ensure it is up and running
#
name: '[health]  Check uat health'
run-name: Check uat-testnet health
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-check:
    runs-on: [self-hosted, Linux, X64, all-testnets]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten

      - name: 'Build required artifacts for running tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          ./get_artifacts.sh
          ls -l ${{ github.workspace }}/ten-test/artifacts   

      - name: 'Run health check tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          /usr/local/bin/pysys.py run -m ten.uat -i health -XITERATIONS_FULL=0

      - name: 'Upload testcase output'
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/ten-test/**/Output
            !${{ github.workspace }}/ten-test/**/node_modules
          retention-days: 1

      - name: 'Discord notification on failure'
        if: failure()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.UAT_TESTNET_HEALTH_WEBHOOK }}
          title: "UAT-testnet health check tests failed"
          description: "UAT-testnet health check"
          content: "Please investigate"
          avatar_url: ${{ secrets.AVATAR_URL }}