# Builds a local testnet and runs a set of E2E tests. Is run via a repository dispatch when a PR is merged down to
# main in the go-obscuro repo
#
name: Run merge tests
run-name: Run merge tests for PR ${{ github.event.client_payload.number }} by @${{ github.event.client_payload.owner }}
on:
  repository_dispatch:
    types: [merged_pull_request]

jobs:
  run-tests:
    runs-on: self-hosted
    steps:
      - name: 'Map IDs for ObscuroLabs'
        uses: kanga333/variable-mapper@master
        with:
          key: "${{ github.event.client_payload.owner }}"
          map: |
            {
              "StefanIliev545": {
                "discord_id": "1034771491436363797"
              },
              "otherview": {
                "discord_id": "494924753962926120"
              },
              "BedrockSquirrel": {
                "discord_id": "92361563276591104"
              },
              "moraygrieve": {
                "discord_id": "814873419207409685"
              },
              "tudor-malene": {
                "discord_id": "921049923414261821"
              },
              "zkokelj": {
                "discord_id": "639076633994592256"
              },
              ".*": {
                "discord_id": "814873419207409685"
              }
            }

      - name: 'Check out obscuro-test'
        uses: actions/checkout@v3
        with:
          path: ./obscuro-test

      - name: 'Check out faucet code'
        uses: actions/checkout@v3
        with:
          repository: obscuronet/faucet
          path: ./faucet

      - name: 'Check out go-obscuro code'
        uses: actions/checkout@v3
        with:
          repository: obscuronet/go-obscuro
          path: ./go-obscuro

      - name: 'Docker clean containers and images before the test'
        run: |
          for i in `docker ps -a | awk '{ print $1 } ' | grep -v CONTAINER`; do docker stop $i && docker rm $i; done
          docker system prune -af --volumes
          for i in `docker volume ls --filter dangling=true -q`; do docker volume rm $i; done

      - name: 'Build docker containers'
        run: |
          cd ${{ github.workspace }}/obscuro-test/utils/testnet
          docker compose -f docker-compose.local.yml build --parallel 

      - name: 'Start up testnet'
        run: |
          cd ${{ github.workspace }}/go-obscuro/
          go run ./testnet/launcher/cmd
          echo "Run docker container log background processes"
          docker logs -f `docker ps -aqf "name=validator-host"` > validator-host.out 2>&1 &
          docker logs -f `docker ps -aqf "name=validator-enclave"` > validator-enclave.out 2>&1 &
          docker logs -f `docker ps -aqf "name=sequencer-host"` > sequencer-host.out 2>&1 &
          docker logs -f `docker ps -aqf "name=sequencer-enclave"` > sequencer-enclave.out 2>&1 &
          docker logs -f `docker ps -aqf "name=eth2network"` > eth2network.out 2>&1 &

      - name: 'Start up the faucet'
        run: |
          cd ${{ github.workspace }}/faucet/
          ./container_run.sh

      - name: 'Build required artifacts for running tests'
        run: |
          cd ${{ github.workspace }}/obscuro-test
          ./get_artifacts.sh
          ls -l ${{ github.workspace }}/obscuro-test/artifacts   

      - name: 'Do a persistence reset for nonce and contracts'
        run: |
          cd ${{ github.workspace }}/obscuro-test/admin
          /usr/local/bin/pysys.py run -m obscuro.local persistence_reset

      - name: 'Run tests'
        run: |
          cd ${{ github.workspace }}/obscuro-test/tests
          /usr/local/bin/pysys.py run -m obscuro.local -e skip -e robustness -e performance -e persistence

      - name: 'Discord notification'
        if: success()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.CONT_INT_WEBHOOK }}
          title: "Merge tests for PR ${{ github.event.client_payload.number }} by @${{ github.event.client_payload.owner }} passed"
          description: "Local testnet tests on PR merge"
          avatar_url: ${{ secrets.AVATAR_URL }}

      - name: 'Discord notification'
        if: failure()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.CONT_INT_WEBHOOK }}
          title: "Merge tests for PR ${{ github.event.client_payload.number }} by @${{ github.event.client_payload.owner }} failed"
          description: "Local testnet tests on PR merge"
          content: "Please investigate <@${{ env.discord_id }}>"
          avatar_url: ${{ secrets.AVATAR_URL }}

      - name: 'Upload testcase output'
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/obscuro-test/**/Output
          retention-days: 2

      - name: 'Upload container logs'
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: container-artifact
          path: |
            ${{ github.workspace }}/go-obscuro/*.out
          retention-days: 2

      - name: 'Test report'
        uses: dorny/test-reporter@v1
        if: always()
        with:
          working-directory: ${{ github.workspace }}/obscuro-test/
          name: 'test-status'
          path: 'reports/*.xml'
          reporter: java-junit

      - name: 'Docker clean containers and images after the test'
        if: always()
        run: |
          for i in `docker ps -a | awk '{ print $1 } ' | grep -v CONTAINER`; do docker stop $i && docker rm $i; done
          docker system prune -af --volumes
          for i in `docker volume ls --filter dangling=true -q`; do docker volume rm $i; done
