# Runs the tests through ganache to aid in debugging.
#
name: '[Debug] Tests for debugging'
run-name: Run debug tests (${{ github.event_name }})
on:
  workflow_dispatch:
    inputs:
      mode:
        type: choice
        description: 'Mode to run the tests in'
        required: true
        default: ganache
        options:
          - ganache
          - sepolia
      arguments:
        description: 'Arguments to the pysys run'
        required: true
        default: '-e skip'

jobs:
  test-run:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-01]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Run tests'
        run: |
          cd ${{ github.workspace }}/ten-test/tests
          /usr/local/bin/pysys.py run -m ganache -r ${{ github.event.inputs.arguments }}

      - name: 'Collate pdf output'
        if: always()
        run: |
          cd ${{ github.workspace }}/ten-test
          pdftk $(find . -name \*.pdf | sort) cat output results_graphs.pdf || true

      - name: 'Upload testcase output'
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/ten-test/**/Output
            !${{ github.workspace }}/ten-test/**/node_modules
          retention-days: 1

      - name: 'Upload performance output'
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: performance-artifact
          path: |
            ${{ github.workspace }}/ten-test/results_graphs.pdf
          if-no-files-found: ignore
          retention-days: 1
