# Sends any funds from the L1 deployment account to the gnosis safe wallet.
#
name: '[System] Send deployer funds to wallet'
run-name: Send L1 deployer funds to safe wallet
on:
  workflow_dispatch:
    inputs:
      floor:
        description: 'The amount in ETH to leave in the deployer account'
        required: true
        default: 10

jobs:
  run-check:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-02]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Send funds'
        run: |
          cd ${{ github.workspace }}/ten-test/utils/testnet
          /usr/bin/python3 drain_funds.py --from_pk ${{ secrets.ACCOUNT_PK_WORKER}} --to_account ${{ secrets.ACCOUNT_GNOSIS_TESTNET }} --floor ${{ github.event.inputs.floor }}

 



