# Resets the nonce persistence and redeploys the set of persisted contracts that should persist on a
# given network before being redeployed. The workflow is run manually from a workflow dispatch.
#
name: '[sepolia] Reset persistence'
run-name: Reset persistence on sepolia-testnet
on:
  workflow_dispatch:

jobs:
  reset-persistence:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-02]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten

      - name: 'Build artifacts'
        run: |
          cd ${{ github.workspace }}/go-ten/tools/walletextension/main
          go build -o ${{ github.workspace }}/ten-test/artifacts/wallet_extension/wallet_extension
          ls -l ${{ github.workspace }}/ten-test/artifacts

      - name: 'Persistence reset on sepolia-testnet'
        run: |
          cd ${{ github.workspace }}/ten-test/admin
          /usr/local/bin/pysys.py run -m ten.sepolia persistence_reset

      - name: 'Upload output'
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/ten-test/**/Output
            !${{ github.workspace }}/ten-test/**/node_modules
          retention-days: 1