# Performs operations on a new sepolia-testnet deployment or upgrade
#
name: '[sepolia] Run deploy tests'
run-name: Sepolia-testnet deployment or upgrade
on:
  repository_dispatch:
    types: [ sepolia_testnet_deployed, sepolia_testnet_upgraded ]

jobs:
  test-run:
    runs-on: [self-hosted, Linux, X64, ten-test-gh-runner-02]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten

      - name: 'Build required artifacts for running tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          ./get_artifacts.sh
          ls -l ${{ github.workspace }}/ten-test/artifacts   

      - name: 'Sleep to allow network to come up'
        run: |
          sleep 60  

      - name: 'Run tests on sepolia-testnet on a repository_dispatch trigger of a new deployment'
        if: ${{ (github.event_name == 'repository_dispatch') && (github.event.action == 'sepolia_testnet_deployed') }}
        run: |
          cd ${{ github.workspace }}/ten-test/admin
          /usr/local/bin/pysys.py run -m ten.sepolia persistence_reset
