# Run a set of sanity tests on sepolia-testnet to ensure it is up and running
#
name: '[sepolia] Check  health'
run-name: Check sepolia-testnet health
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  run-check:
    runs-on: [self-hosted, Linux, X64, all-testnets]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Check out go-ten code'
        uses: actions/checkout@v3
        with:
          repository: ten-protocol/go-ten
          path: ./go-ten
          ref: 'releases/v0.28'

      - name: 'Build required artifacts for running tests'
        run: |
          cd ${{ github.workspace }}/ten-test
          ./get_artifacts.sh
          ls -l ${{ github.workspace }}/ten-test/artifacts   

      - name: 'Run health check tests (primary gateway)'
        run: |
          cd ${{ github.workspace }}/ten-test
          /usr/local/bin/pysys.py run -m ten.sepolia -i health -XITERATIONS_FULL=0 

      - name: 'Add a wait before running the dexynth tests'
        if: always()
        run: |
          sleep 5  

      - name: 'Run health check tests (dexynth gateway)'
        if: always()
        run: |
          cd ${{ github.workspace }}/ten-test/tests
          PRIMARY_HOST_HTTP=https://dexynth-gateway.ten.xyz PRIMARY_HOST_WS=wss://dexynth-gateway.ten.xyz /usr/local/bin/pysys.py run -m ten.sepolia -o dexynth gen_cor_040 gen_cor_073 gen_cor_106

      - name: 'Upload testcase output'
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-artifact
          path: |
            ${{ github.workspace }}/ten-test/**/Output
            !${{ github.workspace }}/ten-test/**/node_modules
          retention-days: 1

      - name: 'Discord notification on failure'
        if: failure()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.TESTNET_HEALTH_WEBHOOK }}
          title: "Sepolia-testnet health check tests failed"
          description: "Sepolia-testnet health check"
          content: "Please investigate <@814873419207409685> <@92361563276591104> <@920586981581393983> <@921049923414261821> <@1034771491436363797> <@639076633994592256> <@1275573709910052947> <@398020680966471680> <@216439743947341824>"
          avatar_url: ${{ secrets.AVATAR_URL }}