# Send any funds from the L1 deployment account to the gnosis safe wallet
#
name: '[system] Send to wallet'
run-name: Send L1 deployer funds to safe wallet
on:
  workflow_dispatch:
    inputs:
      floor:
        description: 'The amount in ETH to leave in the deployer account'
        required: true
        default: 10

jobs:
  run-check:
    runs-on: [self-hosted, Linux, X64, all-testnets]
    steps:
      - name: 'Check out ten-test'
        uses: actions/checkout@v3
        with:
          path: ./ten-test

      - name: 'Send funds'
        run: |
          cd ${{ github.workspace }}/ten-test/admin
          /usr/local/bin/pysys.py run -m ten.sepolia -XSEND_PK=${{ secrets.ACCOUNT_PK_WORKER}} -XRECV_AD=${{ secrets.ACCOUNT_GNOSIS_TESTNET }} drain_balance 

 



